<div class="trigger-container">

    <div class="trigger-row">

        <div class="trigger-col">
            {{ type }}
        </div>

        <div class="trigger-col">
            {{ target }}
        </div>

        <div class="trigger-col">
            {{ operation }}
        </div>

        <div class="trigger-col">                                                                                                                     
            {{ value }}
        </div>

        <div class="trigger-col trigger-remove-col">
            <div class="trigger-remove" (click)="onSelfRemove()">X</div>
        </div>

    </div>

</div>