// Font
$chili-font-family: 'Sans Serif', Arial;

// Text
$chili-text-dark: #000000;
$chili-text-light-lvl-0: #f0e6e6;
$chili-text-light-lvl-1: #e0d3d3;
$chili-text-light-lvl-2: #cfbcbc;

// Background
$chili-background-lvl-0: #242222;
$chili-background-lvl-1: #302d2d;
$chili-background-lvl-2: #3b3434;
$chili-background-lvl-3: #423939;
$chili-background-light: #ffffff;
$chili-background-warning: rgba(255, 0, 0, 1);

// Overlay background
$chili-overlay-background-lvl-0: rgba(0, 0, 0, 0.15);
$chili-overlay-background-lvl-1: rgba(0, 0, 0, 0.3);
$chili-overlay-background-lvl-2: rgba(0, 0, 0, 0.45);
$chili-overlay-background-lvl-3: rgba(0, 0, 0, 0.6);

// Border
$chili-border-dark: #000000;
$chili-border-lvl-0: #242222;
$chili-border-light: #ffffff;

// Levels
$chili-lvl-0: 1;
$chili-lvl-1: 25;
$chili-lvl-2: 50;
$chili-lvl-3: 75;
$chili-lvl-4: 100;
$chili-lvl-top: 125;

// Active
$chili-active-lvl-0: #484582;
$chili-active-lvl-1: #8c89ab;

